extends ../layouts/common

block content
  h1 Magazines
  a(href="/magazines/create")
    button Create
  form(action="/magazines/search" method="GET")
      input(type="text" name= "q" required)
      button(class="btn-ml") Search
  form(action="/magazines/group" method="GET")
    select(name="by")
      option(value="name") name
      option(value="author") author
    button(class="btn-ml") Group

  div 
    h2 List Magazine
  table
    tr
      th Name
      th Author
      th Action
    each magazine in magazines
      tr
        td= magazine.name
        td= magazine.author
        td
          div(class="actions-button")
            form(action=`/magazines/delete/${magazine.id}?_method=DELETE` method="POST")
              button delete
            a(href=`/magazines/update/${magazine.id}`)
              button update